* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#home {
  background-image: url(../immagini/newyork.jpg);
  height: 100vh;
}
#home > h1 {
  width: 16.3em;
}
#sect-one {
  text-align: center;
  font-family: Helvetica;
  padding: 4em;
  font-size: 1em;
  line-height: 1.7em;
  background-color: #f4f4f4;
  color: #666666;
}
#sect-one > h2 {
  padding-bottom: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
}
#img2text {
  background-image: url(../immagini/night.jpg);
}
#img3txt {
  background-image: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1113&q=80magini/city.jpg);
}
#end {
  background-image: url(../immagini/newyork.jpg);
  height: 100vh;
}
#end > h1 {
  width: 14.3em;
}
/* Classes */
.bgphoto {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25em;
  opacity: 70%;
}
.sect-2-3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4.4em;
  font-size: 1em;
  line-height: 1.7em;
  background-color: #282e34;
  color: #fff7f7;
}
.titlesh1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "lato", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 0.3em;
  color: white;
  background-color: rgb(24, 24, 24);
  text-align: center;
  background-attachment: fixed;
  padding-top: 0.7em;
  height: 2.5em;
}
.titlesh2 {
  padding-bottom: 1.3em;
}
.imgtext {
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 400;
  color: white;
  letter-spacing: 0.3em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7em;
}
